table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    line-break: auto;
    word-break: break-word;
    white-space: break-spaces;
    padding: 10px;
}
.head{
    padding-bottom: 20px;
}